.hero {
  min-height: 100vh;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  padding-top: 80px;
  position: relative;
}


.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-text {
  padding-right: 2rem;
}

.badge {
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.hero-title {
  font-size: 4.2rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.highlight {
  background: linear-gradient(90deg, #646cff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-size: 1.75rem;
  color: #a1a1aa;
  margin-bottom: 3rem;
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.image-frame {
    width: 600px;
    height: 500px;

    background: #f4f1ee;

    border-radius:  250px 0 0 250px;

    position: relative;

    overflow: hidden;
}

.profile-inside {
    position: absolute;

    bottom: -0px;
    left: 50%;

    transform: translateX(-50%);

    height: 120%;

    z-index: 3;
}


.hero-image {
    position: relative;
    width: 600px;
    height: 500px;
    justify-self: end;
    transform: translateX(80px);
}

.profile-outside {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
    border-radius: 80%;
    height: 120%;

    pointer-events: none;
}

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-title {
    font-size: 3.2rem;
  }
  .nav-links {
    display: none;
  }
}