.hero {
  min-height: 100vh;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  padding-top: 80px;
  position: relative;
}


.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-text {
  padding-right: 2rem;
}

.badge {
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.hero-title {
  font-size: 4.2rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.highlight {
  background: linear-gradient(90deg, #646cff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-size: 1.75rem;
  color: #a1a1aa;
  margin-bottom: 3rem;
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.image-frame {
    width: 100%;
    height: 100%;

    background: #f4f1ee;

    border-radius:  250px 0 0 250px;
    overflow: hidden;

    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.1);
}

.hero-image {
  position: relative;
  width: min(100%, 650px);
  
  aspect-ratio: 1.25 / 1;
}

.profile-outside {
  position: absolute;

  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  height: 115%;
  width: auto;
  border-radius: 100px 0 0 38%;
  object-fit: contain;
}

.card {
  position: absolute;

  padding: 12px 18px;
  border-radius: 16px;

  font-weight: 700;
  color: #000;
}

.card-1 {
  top: 15%;
  right: -30px;
  background: #ff4f7d;
}

.card-2 {
  top: 65%;
  left: -40px;
  background: #ff9500;
}

.card-3 {
  bottom: -10px;
  right: 10%;
  background: #a6ff6d;
}

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 50px 0 30px 0;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-title {
    font-size: 3.2rem;
  }
  .nav-links {
    display: none;
  }

  .hero-image {
    margin: 0 auto;
    max-width: 450px;
  }


  .profile-image {
    height: 110%;
  }

  .card {
    transform: scale(0.8);
  }
}