
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.nav-container {
  max-width: 675px;
  margin: 10px 0px;
  padding: 1rem 2rem;
  border: 2px solid rgba(61, 61, 61, 0.286);
  background: rgba(15, 15, 15, 0.544);
  backdrop-filter: blur(12px);
  display: flex;
  gap: 20px;
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}


.nav-links {
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #646cff;
}

.cta-button {
  padding: 12px 24px;
  background: white;
  color: black;
  border-radius: 9999px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.cta-button:hover {
  background: #646cff;
  color: white;
}