* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: #e0e0e0;
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.6;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f00;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a8b;
  border: 3px solid #1c1c1c00;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}